*{
    margin: 0;
    padding: 0;
    
}
html{
    scroll-behavior: smooth;
}
body{
    background-image: linear-gradient(to bottom right, #7a003b, #1d010e);
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.navBar{
    padding-bottom: 40px;
}
.navBar a{
    text-decoration: none;
    color: #ffffff;
    font-size: 22px;
    transition: 0.3s;
    font-family: 'Inter', sans-serif;
    text-align: center;
    float: right;
    padding-left:30px;
    padding-right:30px;
    white-space: nowrap;
    margin-top:40px;
}

.navBar a:hover {
    color: rgb(255, 163, 182);
}

.responsive-cell-block{
min-height:75px;
color: #ffffff;

}
.text-blk{
margin-top:0px;
margin-right:0px;
margin-bottom:0px;
margin-left:0px;
line-height:25px;
}
.responsive-container-block{
min-height:75px;
height:fit-content;
width:100%;
display:flex;
flex-wrap:wrap;
margin-top:0px;
margin-right:auto;
margin-bottom:0px;
margin-left:auto;
justify-content:space-evenly;
}
.team-head-text{
font-size:48px;
font-weight:900;
text-align:center;
}
.team-head-text{
line-height:50px;
width:100%;
margin-top:0px;
margin-right:0px;
margin-bottom:50px;
margin-left:0px;
}
.container{
max-width:1380px;
margin-top:60px;
margin-right:auto;
margin-bottom:60px;
margin-left:auto;
padding-top:0px;
padding-right:30px;
padding-bottom:0px;
padding-left:30px;
}
.card{
text-align:center;
background-color: #ffffff;
box-shadow:rgba(0, 0, 0, 0.219) 0px 4px 20px 7px;
border-radius: 20px;
display:flex;
flex-direction:column;
align-items:center;
padding-top:30px;
padding-right:25px;
padding-bottom:30px;
padding-left:25px;
color: #7a003b;
}
.card-container{
width:280px;
margin-top:0px;
margin-right:10px;
margin-bottom:25px;
margin-left:10px;
}
.name{
margin-top:20px;
margin-right:0px;
margin-bottom:5px;
margin-left:0px;
font-size:18px;
font-weight:800;
}
.position{
margin-top:0px;
margin-right:0px;
margin-bottom:10px;
margin-left:0px;
}
.feature-text{
margin-top:0px;
margin-right:0px;
margin-bottom:20px;
margin-left:0px;
color:rgb(122, 122, 122);
line-height:30px;
}
.social-icons{
width:70px;
display:flex;
justify-content:space-between;
}
.team-image-wrapper{
clip-path:circle(50% at 50% 50%);
width:130px;
height:130px;
}
.team-member-image {
max-width: 100%;
}
@media (max-width: 500px){
.card-container{
    width:100%;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:25px;
    margin-left:0px;
}
}  
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&display=swap');

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.wk-desk-1{
    width: 8.333333%;
}
.wk-desk-2{
    width: 16.666667%;
}
.wk-desk-3{
    width: 25%;
}
.wk-desk-4{
    width: 33.333333%;
}
.wk-desk-5{
    width: 41.666667%;
}
.wk-desk-6{
    width: 50%;
}
.wk-desk-7{
    width: 58.333333%;
}
.wk-desk-8{
    width: 66.666667%;
}
.wk-desk-9{
    width: 75%;
}
.wk-desk-10{
    width: 83.333333%;
}
.wk-desk-11{
    width: 91.666667%;
}
.wk-desk-12{
    width: 100%;
}

@media (max-width: 1024px) {
    .wk-ipadp-1{
    width: 8.333333%;
    }
    .wk-ipadp-2{
    width: 16.666667%;
    }
    .wk-ipadp-3{
    width: 25%;
    }
    .wk-ipadp-4{
    width: 33.333333%;
    }
    .wk-ipadp-5{
    width: 41.666667%;
    }
    .wk-ipadp-6{
    width: 50%;
    }
    .wk-ipadp-7{
    width: 58.333333%;
    }
    .wk-ipadp-8{
    width: 66.666667%;
    }
    .wk-ipadp-9{
    width: 75%;
    }
    .wk-ipadp-10{
    width: 83.333333%;
    }
    .wk-ipadp-11{
    width: 91.666667%;
    }
    .wk-ipadp-12{
    width: 100%;
    }
}

@media (max-width: 768px) {
    .wk-tab-1{
    width: 8.333333%;
    }
    .wk-tab-2{
    width: 16.666667%;
    }
    .wk-tab-3{
    width: 25%;
    }
    .wk-tab-4{
    width: 33.333333%;
    }
    .wk-tab-5{
    width: 41.666667%;
    }
    .wk-tab-6{
    width: 50%;
    }
    .wk-tab-7{
    width: 58.333333%;
    }
    .wk-tab-8{
    width: 66.666667%;
    }
    .wk-tab-9{
    width: 75%;
    }
    .wk-tab-10{
    width: 83.333333%;
    }
    .wk-tab-11{
    width: 91.666667%;
    }
    .wk-tab-12{
    width: 100%;
    }
}

@media (max-width: 500px) {
    .wk-mobile-1{
    width: 8.333333%;
    }
    .wk-mobile-2{
    width: 16.666667%;
    }
    .wk-mobile-3{
    width: 25%;
    }
    .wk-mobile-4{
    width: 33.333333%;
    }
    .wk-mobile-5{
    width: 41.666667%;
    }
    .wk-mobile-6{
    width: 50%;
    }
    .wk-mobile-7{
    width: 58.333333%;
    }
    .wk-mobile-8{
    width: 66.666667%;
    }
    .wk-mobile-9{
    width: 75%;
    }
    .wk-mobile-10{
    width: 83.333333%;
    }
    .wk-mobile-11{
    width: 91.666667%;
    }
    .wk-mobile-12{
    width: 100%;
    }
}

*{
    margin: 0;
    padding: 0;
    
}
html{
    scroll-behavior: smooth;
}
body{
    background-image: linear-gradient(to bottom right, #7a003b, #1d010e);
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}


.dropbtn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.6rem 1rem;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    backface-visibility: hidden;
    border: 0.3rem solid transparent;
    border-radius: 2rem;
    border-color: transparent;
    background-color: rgb(255, 255, 255);
    color: #7A003B;
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
    margin-bottom: 30px;
    margin-top: 30px;
}

.dropdown {
position: relative;
display: flex;
justify-content: center;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #7A003B;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
font-family: 'Inter', sans-serif;
border-radius: 1.5rem;
font-size: 10px;
}

.dropdown-content option {
color: rgb(255, 255, 255);
padding: 12px 16px;
text-decoration: none;
display: block;
font-family: 'Inter', sans-serif;
border-radius: 2rem;
}

.dropdown-content a:hover {background-color: #ffffff; color: #7A003B;}

.dropdown:hover .dropdown-content {display: block; margin-top: 70px;}

.dropdown:hover .dropbtn { transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;}

.dev{
    width: 60%;
    height: auto;
    padding: 50px;
    border-radius: 20px;
    margin: auto;
    background: rgba(255, 255, 255, 0.751);
    box-shadow: 0 8px 32px 0 rgba(1, 1, 1, 0.21);
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
    border-radius: 30px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    font-family: 'Inter', sans-serif;
    color: #7A003B;
}

.opis{
    width: 40%;
    height: 80%;
    padding: 10px;
    color: #7A003B;
   padding: 20px;
    border-radius: 20px;
    margin: auto;
    background-image: linear-gradient(to bottom right, #7A003B, #2f0117);
    box-shadow: 0 3px 30px 0 rgba(60, 28, 44, 0.485);
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 60%;
    color: #fff;
    margin-bottom: 2%;
}
.opis h1{
    padding: 20px;
}
.opis img{
    display: flex;
    float: right;
    width: 40px;
    height: 40px;
    margin-top: -35px;
}

#zastava{
    position:absolute;
    bottom:5%;
    right:3%;
    width:100px;
    height:67px;
    border-radius: 25px;
}

select{
    text-align-last:center; 
}
